.button-col {
  width:100px;
  text-align:center;
}
.desc-col {
width:300px;
text-align:left;
}
table {
  counter-reset: tableCount;
}
.counterCell:before {
  content: counter(tableCount);
  counter-increment: tableCount;
}
.counterCell {
text-align: center;
width:50px;
}

.button-center {
text-align: center;
}

label {
display:inline-block;
margin-right:30px;
text-align:right;
}

fieldset {
border:none;
margin:0px auto;
}

.closebtn {
  float:right;
}

/*-------------------------------------------------*/

$orange: #F06930;
$orangeTransparent: rgba(240, 106, 48, 0.719);

.natural-spa {
  &__menu-tab {
    padding: 6rem;
  }
  
  &__tab {
    background-color: $orange;
  }
  
  &__header {
    font-size: 60px;
    color: white;
  }

  &__container{
    padding-left: 0;
    padding-right: 0;
  }

  &__banner {
    .carousel-inner .carousel-item {
      img {
        width: 100%;
      }
    }
     .carousel-caption {
      bottom: 1rem;
      right: -25rem;
     }  
  }

  &__catalog {
    .button {
      color: white;
      border-color: white;
      font-size: 13px;
      min-height: 60px;
    }
    .modal-dialog {
      margin: 0; 
      width: 100% !important;
    }
  }

  &__services-banner {
    .carousel-inner .carousel-item {
      // height: auto;
      width: 100%;
      img {
        width: 100%;
      }
    }
  }

  &__form-control {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}


.section-header {
  display: inline-flex;
  border-bottom-width: 0.5px;
  border-bottom-style: inset;
  padding-bottom: 30px;
  width: 100%;
  
  h2{
    margin-top: 10px;
  }
}
.add-button {
    padding-right: 50px; 
}


.modal-info {
  .modal-dialog {
    margin: 0; 
    width: 100% !important;
  }
}
.add-modal {
  .modal{
    position: relative;
    top: 250px;
    left: 400px;
    right: 20px;
    bottom: 20px;
    background-color: rgba(240, 106, 48, 0.719)!important;
    width:500px;
    border: 1px solid #000;
    border-radius: 4px;
    padding: 20px;
  }
}

.table-row {
  width: 100px;
  text-align: center;
  padding: 20px !important;
  margin: auto;
}


